<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>AVEC API</title>
</head>
<body>
  <header>
    <div class="title">
      <h1>  
        AVEC API
      </h1>
  </header>
  </div>
  <main>
  <div class="description">
    <p class="description__text">
      Dans le cadre de ce test technique, vous trouverez sur l'accueil de cette APIrest la liste des routes disponibles. Voici également un rappel du contexte de cette API. <br/> 
    </p> 
    <p class="description__text__italic">
        AVEC Hôpital est un système de gestion des lits dans des hôpitaux pour des clients B2B (APHP, Ramsey etc.). <br/>Specs : Le système permet à des utilisateurs publics de savoir quelles sont les places disponibles dans un hôpital. 
        Côté entreprise, le système permet à l’APHP d'avoir un aperçu de son hôpital (taux d'occupation, temps d'utilisation etc.)
    </p>
  </div>
  <div class="route">
    <ul class="routes">
      <li class="routes__route">/login</li>
      <li class="routes__route">/signup</li>
      <li class="routes__route">/user/:id</li>
      <li class="routes__route">/user/update/:id</li>
      <li class="routes__route">/user/delete/:id</li>
      <li class="routes__route">/bed/create</li>
      <li class="routes__route">/bed/assign</li>
      <li class="routes__route">/bed/unassign</li>
      <li class="routes__route">/bed/floor/:floor</li>
      <li class="routes__route">/bed/user/:id</li>
    </ul>
  </div>
</main>
<footer>
  <p>
    © API crée par William RENE-DIT-BOIS. Tous droits réservés
  </p>
</footer>
</body>
</html>